@font-face {
	font-family: 'ChickenScratch';
	src: url('./fonts/ChickenScratch.ttf') format('truetype');
}
.App {
	background-image: url('./images/bamboo_bg.jpg'); /* Replace with the actual path to your background image */
	background-size: cover; /* Adjust as needed to control the image size */
	background-position: 50%;
	height: 150vh;
	font-family: ChickenScratch;
}
